
body{
	font-family: 'Roboto', sans-serif;
	margin: 0;
	background-color: dodgerblue;
}
body *{
	box-sizing: border-box;
}
.logo{
	display: block;
	height: 35px;
	margin: 35px auto 35px auto;
}

.signup-form{
	width: 400px;
	margin-left: auto;
	margin-right: auto;
	padding: 0 40px 40px 40px;
	background-color: white;
}
h1{
	margin-right: auto;
	margin-left: auto;
	padding: 25px;
	color: grey;
	text-align: center;

}
label{
	font-weight: bold;
}
input, button{
	width:320px;
	height:55px;
	padding: 15px;	
	margin: 20px 0;
	border: 2px solid grey;
	border-radius: 3px;
	background-color: gainsboro;
}
button{
	background: green;
	margin: 5px 0;
	color: white;
	font-weight: bold;
	font-size: 20px;
}
button:hover{
	 -webkit-box-shadow: inset 0 0 1px 250px rgba(0,0,0,0.4);
}
.forgot{
	display: block;
	text-align: center;
	color: grey;
	font-size: 14px;
}
p, p a{
	text-align: center;
	color: white;
	font-weight: bold;
}